<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	<!-- Para que lea los metodos anotados con @Transactional -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />


	<!-- EL SERVICIO NECESITA EL DAO -->
	<bean id="iUsuarioDAOBean" class="main.java.com.SiGeBan.models.dao.UsuarioDAO"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	<bean id="iMovimientoDAOBean" class="main.java.com.SiGeBan.models.dao.MovimientoDAO"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	

	<!-- Define un dataSource, en este bean se configura los parametros de la 
		db -->
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/SiGeBan?createDatabaseIfNotExist=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Session factory de Hibernate -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean" />

		<!-- En esta propiedad deberian agregarse todas las clases anotadas con 
			JPA. -->
		<property name="annotatedClasses">
			<list>
				<value>main.java.com.SiGeBan.models.entity.Cuentas</value>
				<value>main.java.com.SiGeBan.models.entity.Generos</value>
				<value>main.java.com.SiGeBan.models.entity.Localidades</value>
				<value>main.java.com.SiGeBan.models.entity.Movimientos</value>
				<value>main.java.com.SiGeBan.models.entity.Paises</value>
				<value>main.java.com.SiGeBan.models.entity.Perfiles</value>
				<value>main.java.com.SiGeBan.models.entity.Personas</value>
				<value>main.java.com.SiGeBan.models.entity.Provincias</value>
				<value>main.java.com.SiGeBan.models.entity.TiposDeCuentas</value>
				<value>main.java.com.SiGeBan.models.entity.Usuario</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="show_sql">true</prop>

				<!-- CREACION DE LA BASE -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
</beans>